header.masthead {
  color: $yellow;
  background-image: url("home/masthead.png");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: left center!important;
  background-size: auto;
  background-color: #DFE3E2;
  text-shadow: 0 0 .7em #0F2E3B;

  .btn-xl {
    position: relative;
    background-color: #F7CE52;
    border: #F7CE52;
    text-shadow: none;
    color: #8F4C15;
    border-radius: 15px;
  }
}
