header.masthead {
  color: $yellow;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: left center!important;
  background-size: auto;
  background-color: #DFE3E2;
  text-shadow: 0 0 0.7em #0f2e3b82;
  padding-top: 10rem;

  div div{
    align-items: center;
  }
  .btn-xl {
    position: relative;
    background-color: #F7CE52;
    border: #F7CE52;
    text-shadow: none;
    color: #8F4C15;
    border-radius: 15px;
    padding: 1rem!important;
  }

  .masthead-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}

.timeline-image {
  img{
    border-radius: 50%;
    background-color: #000;
  }
}

.strikethrough{
  text-decoration: line-through;
  color: #8F4C15;
}

#team{
  .team-member img{
    width: 8rem;
    height: 8rem;
  }
}
