<div class="order-button">
  <% if delete %>
    <%= link_to("Annuler", order_path(order), data: {turbo_method: :delete}, class: "btn btn-danger") %>
  <% else %>
    <%= link_to("Approve order", approve_path(order), data: {turbo_method: :patch}, class: "btn btn-success")  %>
    <%= link_to("Decline order", decline_path(order), data: {turbo_method: :patch}, class: "btn btn-danger") %>
  <% end %>
</div>
