<div class="form-group">
  <%= simple_form_for [@drug, @order] do |f| %>
    <div class="col-sm-4 col-sm-10">
      <div class="btn btn-primary">
        <%= f.button :submit, placeholder: "Make an order"%>
      </div>
    </div>
  <% end %>
</div>
