

$transition-time: 1.4s;

.cards-index {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
  .row{
    display: flex;
  }
  h1 {
    font-size: 3em;
    font-weight: 600;
    color: $primary;
    margin: 0;
    padding: 25px;
    text-align: center;
    margin-bottom: 20px;
  }



  .card{
    position: relative;
    height: 400px;
    width: 100%;
    margin: 10px 0;
    transition: ease all $transition-time;
    perspective: 1200px;
    text-decoration: none!important;
    color: aliceblue!important;
    background-color: transparent!important;
    border: none;
    &:hover{
      .cover{
        transform: rotateX(0deg) rotateY(-180deg);
        &:before{
          transform: translateZ(30px);
        }
        &:after{
          background-color: black;
        }
        h4{
          transform: translateZ(100px);
        }
        .price{
          transform: translateZ(60px);
        }
        a{
          transform: translateZ(-60px) rotatey(-180deg);
        }
      }
    }
    .cover{
      position: fixed;
      height: 100%;
      width: 100%;
      transform-style: preserve-3d;
      transition: ease all $transition-time;
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
      &:before{
        content: '';
        position: absolute;
        border: 5px solid rgba(255,255,255,.5);
        box-shadow: 0 0 12px rgba(0,0,0,.3);
        top:20px;
        left:20px;
        right:20px;
        bottom:20px;
        z-index: 2;
        transition: ease all $transition-time;
        transform-style: preserve-3d;
        transform: translateZ(0px);
      }
      &:after{
        content: '';
        position: absolute;
        top:0px;
        left:0px;
        right:0px;
        bottom:0px;
        z-index: 2;
        transition: ease all 1.3s;
        background: rgba(0,0,0,.4);
      }
      &.item-a{
        background-image: url('_cards/product_views');
        background-color: #0b0f08;
      }


      h4{
        font-weight: 36px!important;
        position: absolute;
        bottom: 55px;
        left: 50px;
        color: white;
        transform-style: preserve-3d;
        transition: ease all $transition-time;
        z-index:3;
        transform: translateZ(0px);
        text-decoration: none;
      }
      .price{
        font-weight: 200;
        position: absolute;
        top: 55px;
        right: 50px;
        color: white;
        transform-style: preserve-3d;
        transition: ease all $transition-time;
        z-index:4;
        font-size: 2em;
        transform: translateZ(0px);
      }
    }
    .card-back{
      position: absolute;
      height: 400px;
      width: 100%;
      background: #0b0f08;
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
      transform-style: preserve-3d;
      transition: ease all $transition-time;
      transform: translateZ(-1px);
      display: flex;
      align-items: center;
      justify-content: center;
      a{
        transform-style: preserve-3d;
        transition: ease transform $transition-time, ease background .5s;
        transform: translateZ(-1px) rotateY(-180deg);
        background: transparent;
        border: 1px solid $primary;
        font-weight: 200;
        font-size: 1.3em;
        color: $primary;
        padding: 14px 32px;
        outline: none;
        text-decoration: none;
        background-color: rgba(88, 88, 88, 0.69);
        &:hover{
          background-color: white;
          color: #0b0f08;
        }
      }
    }
  }
  .cover .card-name a{
    text-decoration: none!important;
    color: aliceblue!important;
  }
  .btn-container{
    width: 100%;
    height: auto;
    text-align: center;
    button {
      background-color: #0b0f08;
      color: white;
      border: 1px solid white;
      padding: 14px 32px;
      justify-content: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 4px 2px;
      cursor: pointer;
      transition-duration: 0.4s;
      border-radius: 8px;
    text-decoration: none;}
  }
}

// Bandeau de couleur pour signifier que c'est une publicité, en :before
.public_649982_lol_bien_chiant_774950{
  width: 100%;
  left: 0!important;
  text-align: left;
  padding-left: 55px;
  &:before{
    content: 'publicité';
    position: absolute;
    font-size: small;
    text-align: center;
    top: -307px;
    left: 0;
    right: 0;
    margin: auto;
    width: 250px;
    height: auto;
    background: $primary;
    background: linear-gradient(90deg, rgba(255,200,0,0) 0%, rgba(255,200,0,1) 30%, rgba(255,200,0,1) 50%, rgba(255,200,0,1) 70%, rgba(255,200,0,0) 100%);
    z-index: 1;
    color: #0b0f08;
    transition: ease all $transition-time;
    transform-style: preserve-3d;
    transform: translateZ(0px);
  }
  &:hover{
      &:before{
        transform: translateZ(30px);
      }
    }
}
