.card-product {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.card-product .card-product-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.edit a{
  color: black;
  text-decoration: none;
}

.delete a{
  color: black;
  text-decoration: none;
}

.d-flex {
  display: flex;
  justify-content: center;
}

.order a {
  color: black;
  text-decoration: none;
}

