.navbar-lewagon {
  justify-content: space-between;
  background: #F2D759;
  position: sticky;
  width: 100%;
  top: 0;
  z-index: 1000;
  margin-right: 10px;



  .navbar-collapse {
    flex-grow: 0;
  }

  .navbar-brand img {
    width: 40px;
  }

  .nav-link {
    color: black;
    font-size: 1em;
    &:hover{
      color: rgba(0, 0, 0, 0.406);
    }
  }


  .brand-name {
    font-size: 1.7em;
    font-weight: 600;
    text-decoration: none;
    list-style-type: none;
    padding-top: 20px;
    padding-left: 120px;
    align-content: inherit;
    font-family: 'Special Elite', sans-serif;

  }

  .avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    align-content: normal;
  }

}
